<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Instrução</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-app>
    <ion-content fullscreen>
      <ion-card>
        <img src="assets/gif.gif" />
        <ion-card-header>
          <ion-card-subtitle>Quiz</ion-card-subtitle>
          <ion-card-title>Instruções</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h5>Quiz de Conhecimento Geral. Você precisa escolher a resposta correta. No termino será mostrado a quantidade de acertos, erros e as porcentagens.</h5>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
