#container{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

ion-col{
    border: 1px solid rgb(219, 33, 0);
    border-radius: 5px;
}